<div class="lewagon">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
  <div class="nav fixed_nav">
    <ul class="nav navbar-nav">
      <li>
      <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "UIelements/rubbishlogo.png" %>
        <% end %>
        <a class="navbar-brand" href="#">Rubbishmap</a>
      <li class="nav-item" data-controller="reveal" data-reveal-hidden-class="d-none">
        <div >
          <button data-action="click->reveal#toggle" type="button" class="btn">Toggle</button>
          <p data-reveal-target="item" class="d-none mt-4">Toggle map</p>
          <p data-reveal-target="item" class="mt-4">Toggle cards</p>
        </div>
      </li>
      <li>
          <h6>Toggle Visibility</h6>
          <button data-action="visibility#showTargets" class="btn btn-info btn-sm">Show All Elements</button>
      </li>
      <li>
          <button data-action="visibility#hideTargets" class="btn btn-info btn-sm mt-2">Hide All Elements</button>
      </li>
      <li>
          <button data-action="visibility#toggleTargets" class="btn btn-info btn-sm mt-2 data-toggle="button" aria-pressed="false" >Toggle Element Visibility</button>
          <button data-action="click->visibility#openMap" class="btn btn-info btn-sm mt-2 data-toggle="button" aria-pressed="false" >Show Map</button>
      </li>
      <li >
          <p data-visibility-target="hideable">The Flamboyent Thing #1<p/>
          <p data-visibility-target="hideable" hidden>The Slightly Stealthy Thing #2<p/>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "new post", new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.profile_picture.attached? %>
          <%= cl_image_tag current_user.profile_picture.key, :width => 40, :height => 40, :crop => :fill, :radius => "max", class: "avatar"%>
          <% else %>
          <img src="https://res.cloudinary.com/dxdyu4tqu/image/upload/v1683908905/profile_pictures/photo-1583795128727-6ec3642408f8.jpg" alt="", class= "avatar">
          <% end %>
        </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
