<div>
  <a href="#" class="btn btn-primary my-2">Create Post</a>


      <div class="grid_show">
        <div class="card shadow-sm">
          <div width="100%" height="100%">
            <h4> Post title: <%= @post.title %> </h4>

            <% if  @post.post_image.attached? %>
            <%= cl_image_tag @post.post_image.key %>
            <% else %>
            <h5>PlaceHolder</h5>
            <% end %>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-end align-items-center">
            </div>
          </div>
        </div>
        <div class="card shadow-sm">
          <div width="100%" height="100%">
            <h4> Post body: <%= @post.body %> </h4>
            <h6> Username </h6>
            <div class="card shadow-sm">
              <h6> Comments: <%= @post.body %> </h6>
              <% @post.comments.each do |comment| %>
            <p><%= comment.content %></p>
          <% end %>
          <div>
            <%= simple_form_for [@post, Comment.new] do |form| %>
              <%= form.text_field :content, placeholder: "Add a comment" %>
              <%= form.submit "Post Comment", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end">
              <div class="btn-group">
                <% if @post.likes.where(user: current_user).exists? %>
                  <%= link_to 'Unlike', unlike_post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                <% else %>
                  <%= link_to 'Like', like_post_path(@post), method: :post %>
                <% end %>

                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Likes</button> -->
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit / Delete</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Comments</button>
                <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

              </div>
            </div>
          </div>
        </div>
      </div>
</div>


<button type="button" class="btn btn-sm btn-outline-secondary">Comments</button>
