



  <div class="bg-image"
    style="background-image: url('<%= cl_image_path @post.post_image.key %>')">
    </div>

<div class="container">
  <h4 class="mt-5"> Post title: <%= @post.title %> </h4>
  <div class="options">
   <% if @post.likes.where(user: current_user).exists? %>
            <%= button_to 'Unlike', unlike_post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-light btn-outline-secondary" %>
          <% else %>
            <%= button_to 'Like', like_post_path(@post), method: :post, class: "pl-3 btn btn-light btn-outline-secondary" %>
          <% end %>
          <button type="button" class="btn btn-light btn-outline-secondary commenter">Comment</button>
          <p class="liker"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  </div>

            <div class="comment-options">

            <%= simple_form_for [@post, Comment.new] do |form| %>
              <div class="form-inputs">
              <%= form.text_field :content, placeholder: "Add a comment", class: "badboyform mt-3" %>
              </div>
              <div class="form-actions">
              <%= form.submit "Post Comment", class: "btn btn-primary mt-3  mt-4" %>
              </div>
            <% end %>
          </div>

           <h3 class="mb-5 mt-4"> Description: <br> <%= @post.body %> </h3>

           <h2>Comments:</h2>

              <% @post.comments.each do |comment| %>
              <div class="reaction-options">
              <% if comment.user.profile_picture.attached? %>
                   <%= cl_image_tag comment.user.profile_picture.key %>
                   <% else %>
                   <%= image_tag "UIelements/rubbishlogo.png"%>
              <% end %>


              <p><%= comment.content %></p>
              </div>
          <% end %>

</div>

<br>
<br>
<br>
<br>
