<div class="grid_show">

    <%# <div class="show_img"> %>
      <div class="show_img bg-image" style="background-image: url('<%= cl_image_path @post.post_image.key %>')">
      </div>
    <%# </div> %>

    <div class="show_items">
      <div class="header">
        <% if @post.user.profile_picture.attached? %>
            <%= cl_image_tag @post.user.profile_picture.key,
              :gravity => "center",
              :class => "avatar-bordered",
              crop: :fit %>
            <% else %>
              <img src="https://res.cloudinary.com/dxdyu4tqu/image/upload/v1683908905/profile_pictures/photo-1583795128727-6ec3642408f8.jpg" alt="", class= "avatar">
            <% end %> <span class="username"> <%= @post.user.user_name %> </span>
        <h6 class="mt-5"> <%= @post.title %> </h6>
        <h6 class="mb-5 mt-4"> Description: <br> <%= @post.body %> </h6>
        <div class="options">
        <% if @post.likes.where(user: current_user).exists? %>
                  <%= button_to 'Unlike', unlike_post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-light btn-outline-secondary" %>
                <% else %>
                  <%= button_to 'Like', like_post_path(@post), method: :post, class: "pl-3 btn btn-light btn-outline-secondary" %>
                <% end %>
                <button type="button" class="btn btn-light btn-outline-secondary commenter">Comment</button>
                <p class="liker"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </div>
      </div>

      <div class="comments">
        <h6>Comments:</h6>

        <div class="reaction-options">
        <% @post.comments.each do |comment| %>
        <p><%= comment.content %></p>
          <% if comment.user.profile_picture.attached? %>
              <%= cl_image_tag comment.user.profile_picture.key %>
              <% else %>
              <%= image_tag "UIelements/rubbishlogo.png"%>
          <% end %> <span class="username"> <%= comment.user.user_name %> </span>
        <% end %>
        </div>

        <div class="comment-options">
          <%= simple_form_for [@post, Comment.new] do |form| %>
            <div class="form-inputs">
            <%= form.text_field :content, placeholder: "Add a comment", class: "badboyform mt-3" %>
            </div>
            <div class="form-actions">
            <%= form.submit "Post Comment", class: "btn btn-primary mt-3  mt-4" %>
            </div>
          <% end %>
        </div>
      </div>


      <div class="map bg-dark">
      <div id="map" style="width: 100%; height: 50px;" ></div>
      </div>

    </div>
</div>
